html {
    font-family: Montserrat, sans-serif;
    color: #250146;
}

header {
    display: none;
}

body {
    margin: 0;
    /* background-color: #e5e5e5; */
    background-image: url(./photo_2022-11-11_02-59-20_____.jpg);
    background-size: 50px;
    background-repeat:repeat;
    /* background-position: center; */
}

.bio section {
    margin-bottom: 50px;
} 

.history section {
    margin-bottom: 40px;
} 

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 900px;
    margin: 0 auto;
}

.bio {
    background-color: #fcf5ff;
    /* height: 100vh; */
    padding: 0 50px;
}

.history {
    background-color: #fdfaff;
    padding: 0 60px;
}

.picture-wrapper {
    overflow: hidden;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 30px auto;
}

.zorro {
    width: 170px;
    position: relative;
    left: 20px;
}

h3 {
    border-bottom: 1px solid #7b78cf;
    padding-bottom: 10px;
    color: #4A4790;
}

h4 {
    margin-bottom: 10px;
    font-weight: 700;
}

.location, .phone, .email {
    font-weight: 400;
}

.links a {
    /* display: block; */
    margin-right: 20px;
    color: #250146;
}

.progress-bar {
    display: flex;
    gap: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}

h1 {
    margin-top: 90px;
    margin-bottom: 10px;
    color: #4A4790;
}

h2 {
    margin-top: 0;
    margin-bottom: 92px;
    color: #4A4790;
}

.not-filled {
    color: #2501465e;
}

.skill-wrapper-wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.skill-wrapper {
    margin-right: 140px;
}

.portfolio-wrapper {
    display: flex;
    width: 100%;
    /* flex-wrap: wrap; */
}

.portfolio-link {    
    height: 100px;
    width: 150px;
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    box-sizing: border-box;
}

.eximia {
    background-image: url(./Eximia.png);
}

.taily {
    background-image: url(./Taily_Thumbmail.png);
}

.wallar {
    background-image: url(./WallAR.png);
}

@media (max-width: 900px) {
    header {
        display: flex;
        background-color: #fcf5ff;

    }

    .grid-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        width: 600px;
        margin: 0 auto;
    }

    aside {
        display: none;
    }

    header h3 {
        font-size: 16px;
    }

    header h4 {
        font-size: 12px;
    }

    header span {
        font-size: 10px;
    }

    .picture-wrapper {
        overflow: hidden;
        border-radius: 50%;
        width: 150px;
        height: 200px;
        margin: 30px 30px;
    }
    
    .zorro {
        width: 170px;
        position: relative;
        left: 0px;
    }

    .links a {
        display: block;
        margin: 24px 15px;
        color: #250146;
    }

    .links {
        width: 100px;
    }
}



